@charset "utf-8";

/*-------------------------------
	common.css
-------------------------------*/
/* scrollbar height */
.mCustomScrollbar .mCSB_scrollTools .mCSB_dragger {
    height: 420px;
}

.C-popup-content__inner .mCSB_draggerContainer{
    opacity: 0 !important;
}

.date-info{
    text-align: center;
    font-size: 2rem;
    margin-top: 18rem;
    margin-bottom: -10rem;
}
.Pageframe-main-header__pagename::before{
	width: 2.5rem;
	height: 2.5rem;
	top: calc(50% - 1.25rem);
	background-image: url(../images/myhoroscope/icon_mark-pagename.svg);
}
.Pageframe-main__title{
    max-width: 35.7rem;
}
.Pageframe-main__title::after{
    width: 7.8rem;
    height: 7.1rem;
    right: -9rem;
    top: -.2rem;
    background-image: url(../images/myhoroscope/icon_title.svg);
}
.Pageframe-main__firstmessage::after,
.C-popup--horoscope__title::after{
    background-image: url(../images/myhoroscope/icon_content-mark.svg);
}
.C-horoscope-create__text::before{
    background-image: url(../images/myhoroscope/icon_moon.svg);
}

.C-horoscope-form__inner::after{
	width: calc((100% - 3.2rem) / 2);
	height: 0;
	order: 2;
	display: block;
	content: "";
}

.C-horoscope-form-block-wrap .C-horoscope-form-block:not(:last-child){
    border-right: 1px solid #39385d;
}
.C-horoscope-form-block:not(.C-horoscope-form-block--half){
	border-bottom: 1px solid #39385d;
}
.C-horoscope-form-block__title::before{
    border: 1px solid #39385d;
}
.C-horoscope-form-block--half .C-horoscope-form-field{
    border-bottom: 1px solid #39385d;
}

/*----- ホロスコープ一覧 */
.C-user-list-block__item:not(:last-child){
	border-right: 1px solid rgba(57,57,92,.5);
}
.C-user-list-block__title::before,
.C-user-list-block__item::before{
	color: rgba(57,57,92,.5);
}

/*----- ホロスコープ詳細 */
.C-user-list__change span{
    color: #A8A7B7;
}

.C-horoscope-detail__title{
    color: rgba(56,98,128,.6);
}
.C-horoscope-detail__inner::after{
	background: rgba(204,206,213,.35);
}
.C-horoscope-detail__position__title--taiyo::before{
    background-image: url(../images/myhoroscope/icon_taiyo.svg);
}
.C-horoscope-detail__position__title--tsuki::before{
    background-image: url(../images/myhoroscope/icon_tsuki.svg);
    content: '';
}
.C-horoscope-detail__position__title--suisei::before{
    background-image: url(../images/myhoroscope/icon_suisei.svg);
}
.C-horoscope-detail__position__title--kinsei::before{
    background-image: url(../images/myhoroscope/icon_kinsei.svg);
}
.C-horoscope-detail__position__title--kasei::before{
    background-image: url(../images/myhoroscope/icon_kasei.svg);
}
.C-horoscope-detail__position__title--mokusei::before{
    background-image: url(../images/myhoroscope/icon_mokusei.svg);
}
.C-horoscope-detail__position__title--dosei::before{
    background-image: url(../images/myhoroscope/icon_dosei.svg);
}
.C-horoscope-detail__position__title--tennousei::before{
    background-image: url(../images/myhoroscope/icon_tennousei.svg);
}
.C-horoscope-detail__position__title--kaiousei::before{
    background-image: url(../images/myhoroscope/icon_kaiousei.svg);
}
.C-horoscope-detail__position__title--meiousei::before{
    background-image: url(../images/myhoroscope/icon_meiousei.svg);
}
.C-horoscope-detail__position__title--dragonhead::before{
    background-image: url(../images/myhoroscope/icon_dragonhead.svg);
}
.C-horoscope-detail__position__title--kiron::before{
    background-image: url(../images/myhoroscope/icon_kiron.svg);
}
.C-horoscope-detail__position__title--ririsu::before{
    background-image: url(../images/myhoroscope/icon_ririsu.svg);
}

.C-horoscope-detail__position__text--otome::before{
    background-image: url(../images/myhoroscope/icon_otome.svg);
}
.C-horoscope-detail__position__text--hutago::before{
    background-image: url(../images/myhoroscope/icon_hutago.svg);
}
.C-horoscope-detail__position__text--ite::before{
    background-image: url(../images/myhoroscope/icon_ite.svg);
}
.C-horoscope-detail__position__text--mizugame::before{
    background-image: url(../images/myhoroscope/icon_mizugame.svg);
}
.C-horoscope-detail__position__text--oushi::before{
    background-image: url(../images/myhoroscope/icon_oushi.svg);
}
.C-horoscope-detail__position__text--sasori::before{
    background-image: url(../images/myhoroscope/icon_sasori.svg);
}
.C-horoscope-detail__position__text--shishi::before{
    background-image: url(../images/myhoroscope/icon_shishi.svg);
}
.C-horoscope-detail__position__text--yagi::before{
    background-image: url(../images/myhoroscope/icon_yagi.svg);
}
.C-horoscope-detail__position__text--kani::before{
    background-image: url(../images/myhoroscope/icon_kani.svg);
}
.C-horoscope-detail__position__text--uo::before{
    background-image: url(../images/myhoroscope/icon_uo.svg);
}
.C-horoscope-detail__position__text--ohitsuji::before{
    background-image: url(../images/myhoroscope/icon_ohitsuji.svg);
}
.C-horoscope-detail__position__text--tenbin::before{
    background-image: url(../images/myhoroscope/icon_tenbin.svg);
}

@media screen and (width >= 1600px) , print{

}
@media screen and (max-width:1188px) , print{

}
@media screen and (max-width:1128px) , print{

}
@media screen and (min-width:501px) and (max-width:750px) , print{

	/*----- ホロスコープ一覧 */
	.C-user-list-block__item:nth-of-type(2):not(:last-child){
        border-right: none;
    }
	.C-user-list-block__item:nth-of-type(3){
        border-top: 1px solid rgba(57,57,92,.5);
    }

}
@media screen and (min-width:501px) and (max-width:600px) , print{

    .Pageframe-main__title{
        max-width: 23rem;
	}
	.Pageframe-main__title .pc{
		display: none !important;
	}
	.Pageframe-main__title .sp{
		display: block !important;
	}

}
@media screen and (max-width:500px) , print{

    .Pageframe-main-header__pagename::before{
        width: 2.5rem;
        height: 2.5rem;
        top: calc(50% - 1.25rem);
    }
    .Pageframe-main__title{
        max-width: 19.4rem;
    }

    .C-horoscope-form__inner::after{
        width: calc((100% - 3.2rem) / 2);
        height: 0;
        order: 2;
        display: block;
        content: "";
    }

}



/*-------------------------------
	ホロスコープ（作成画面）
-------------------------------*/

.Myhoroscope--create .Pageframe-main__title::after{
    width: 10.7rem;
    height: 10.7rem;
    right: -12.5rem;
    background-image: url(../images/myhoroscope/icon_title-create.svg);
}

@media screen and (width >= 1600px) , print{

}
@media screen and (width <= 1600px) , print{
    .date-info{
        /* margin-left:9rem */
    }
}
@media screen and (max-width:1188px) , print{

}
@media screen and (max-width:1128px) , print{

}
@media screen and (max-width:900px) , print{

    .C-horoscope-form-block--name .C-horoscope-form-field{
        font-size: medium !important;
    }

    .Pageframe-main__scroll > .mCustomScrollBox > .mCSB_scrollTools{
        opacity: 0 !important;
    }
    .date-info{
        /* margin-left: 21rem; */
    }
}
@media screen and (max-width:500px) , print{

    .Myhoroscope--create .Pageframe-main__title::after{
        width: 11.2rem;
        height: 11.2rem;
        top: 2.8rem;
        right: -11.5rem;
    }

}



/*-------------------------------
	マイホロスコープ
-------------------------------*/

.Myhoroscope--detail .Pageframe-main__title{
    max-width: 46.6rem;
    margin-bottom: 4.5rem;
}

@media screen and (width >= 1600px) , print{

}
@media screen and (max-width:1188px) , print{

}
@media screen and (max-width:1128px) , print{

}
@media screen and (min-width:501px) and (max-width:750px) , print{

    .Myhoroscope--detail .Pageframe-main__title{
		max-width: 35.5rem;
	}
    .Myhoroscope--detail .Pageframe-main__title .pc{
		display: none !important;
	}
    .Myhoroscope--detail .Pageframe-main__title .sp{
		display: block !important;
	}
    .date-info{
        /* margin-left: 17rem;
        font-size: 1.3rem;
        margin-right: 2rem; */
        margin-bottom: -8rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width:650px) , print{
    .date-info{
        /* margin-left: 16rem; */
        font-size: 1.4rem;
    }
}
@media screen and (max-width:500px) , print{

    .Myhoroscope--detail .Pageframe-main__title{
        max-width: 30rem;
    }
    .Myhoroscope--detail .Pageframe-main__title::after{
        width: 6.2rem;
        height: 5.6rem;
        right: 1rem;
        top: -2.2rem;
    }
    .Myhoroscope--detail .C-user-list-block__item:nth-of-type(1){
        width: 50%;
    }
    .Myhoroscope--detail .C-user-list-block__item:nth-of-type(2){
        width: 50%;
		padding-left: 2.2rem;
        border-right: none;
    }
    .Myhoroscope--detail .C-user-list-block__item:nth-of-type(3){
        border-top: 1px solid rgba(57,57,92,.5);
    }

    .date-info{
        font-size: .9rem;
        margin-top: 13rem;
        margin-bottom: -7rem;
    }

}
