@charset "utf-8";

body{
	color: #39395c;
}



/*-------------------------------
	フォーム
-------------------------------*/

/*----- フォームリセット */
.Login-main input,
.Login-main button,
.Login-main select,
.Login-main textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}
.Login-main{
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	padding-bottom: 1.5rem;
	position: relative;
}
.Login-main__inner{
	margin-bottom: 2rem;
}
.Login-main-block:not(:last-child){
	margin-bottom: 1.5rem;
}
.Login-main-block__title{
	font-size: 1.2rem;
	margin-bottom: .8rem;
	line-height: 1;
}
.Login-main-block__field{
	width: 100%;
}
.Login-main-block__field input{
	width: 100%;
    font-size: 1.4rem;
	padding-left:  1.5rem;
	padding-right: 1.5rem;
	height: 4.8rem;
	border-radius: 2.4rem;
	border: 1px solid #ccced5;
	color: #39395C;
}
/*----- チェックボックス */
.Login-main-keep__checkbox{
	margin-bottom: 1.8rem;
	text-align: center;
}
.Login-main-keep__checkbox input[type="checkbox"]{
    display: none;
}
.Login-main-keep__checkbox__text{
    font-size: 1.2rem;
    padding-left: 2.4rem;
    position: relative;
    cursor: pointer;
}
.Login-main-keep__checkbox__text::before{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: .6rem;
    border: 1px solid #39395c;
    left: 0;
    top: calc(50% - .9rem);
    position: absolute;
    background: rgba(255,255,255,.3);
    display: block;
    content: "";
}
.Login-main-keep__checkbox__text::after{
    width: 1rem;
    height: .6rem;
    border-left: 2px solid #39395c;
    border-bottom: 2px solid #39395c;
    left: .4rem;
    top: calc(50% - .5rem);
    position: absolute;
    transform: rotate(-45deg);
    display: block;
    content: "";
    opacity: 0;
}
.Login-main-keep__checkbox input[type="checkbox"]:checked + .Login-main-keep__checkbox__text::after{
    opacity: 1;
}

/*----- ログインボタン */
.Login-main .Button{
	max-width: 33rem;
	height: 4.6rem;
	border-radius: 2.3rem;
	margin-bottom: 1.2rem;
}
.Login-main .Button span{
	font-size: 1.2rem;
}
.Login .Button span::after{
	width: .7rem;
	height: .9rem;
	top: calc(50% - .45rem);
	right: 2.5rem;
}
.Login-main__loss{
	font-size: 1.2rem;
	letter-spacing: -.1em;
	font-weight: 400;
	text-align: center;
}
.Login-main__loss a{
	color: #8eb8c7;
}
.Login-entry::before{
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2.5rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/common/bg_c-form-line_last.png);
    background-image: image-set(url(../images/common/bg_c-form-line_last.png) 1x, url(../images/common/bg_c-form-line_last@2x.png) 2x);
    background-image: -webkit-image-set(url(../images/common/bg_c-form-line_last.png) 1x, url(../images/common/bg_c-form-line_last@2x.png) 2x);
    display: block;
    content: "";
}

.Login-entry__inner{
	padding-left: 4.5rem;
	padding-right: 4.5rem;
}
.Login-entry-block__title{
	font-size: 1.2rem;
	line-height: 1;
	margin-bottom: .8rem;
}
.Login-entry__text{
	font-size: 1.2rem;
	line-height: 1.5;
	color: rgba(57,56,93,.75);
}
.Login-entry__text a{
	color: rgba(57,56,93,.75);
	text-decoration: underline;
}
.Login-entry-block__body{
	width: 100%;
	border-radius: .6rem;
	margin-bottom: 1.2rem;
	border: 1px solid #ccced5;
}
.Login-entry-block__body a{
	width: 100%;
	height: 4.8rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Login-entry-block__body a::before{
	width: 5.4rem;
	height: 100%;
	background-image: url(../images/common/icon_mail.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.9rem;
	border-right: 1px solid #ccced5;
	content: "";
}
.Login-entry-block__body span{
	width: calc(100% - 5.4rem);
	height: 100%;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media screen and (min-width:501px) , print{

}
@media screen and (max-width:500px) , print{

	/*----- フォームリセット */
	.Login-main{
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
	.Login-main-block:not(:last-child){
		margin-bottom: 1.5rem;
	}
	.Login-main-block__field input{
		height: 5.2rem;
		border-radius: 2.6rem;
	}
	/*----- チェックボックス */
	.Login-main-keep__checkbox{
		margin-bottom: 2.5rem;
	}

	/*----- ログインボタン */
	.Login-main .Button{
		max-width: 100%;
		height: 5.2rem;
		border-radius: 2.6rem;
		margin-bottom: 1rem;
	}
	.Login-main .Button span{
		font-size: 1.4rem;
	}
	.Login-main__loss{
		line-height: 1.666666;
	}
	.Login-entry::before{
		height: 4rem;
		margin-bottom: 0;
	}

	.Login-entry__inner{
		padding-left: 0;
		padding-right: 0;
	}
	.Login-entry-block__body{
		border-radius: .8rem;
		margin-bottom: 1rem;
	}
	.Login-entry-block__body a{
		height: 5.2rem;
	}
	.Login-entry-block__body a::before{
		width: 5rem;
		background-size: 2rem;
	}
}