@charset "utf-8";

/*-------------------------------
	共通パーツ(オリジナル)
-------------------------------*/
.admin_logo {
	width: 320px;
	margin: 20px auto 30px;
}
.bi-justify::before {
	color:#39395C !important;
}