@charset "utf-8";

/*-------------------------------
	共通パーツ(オリジナル)
-------------------------------*/
.text-danger * {
	color: #e44747 !important;
}

/* .mt {
	margin-top: 100px;
} */
.dev-btn-block {
	text-align: center;
	max-width: 33rem;
	width: 100%;
	margin-inline: auto;
}

/* ボタン */
.dev-btn {
	width: 100%;
	display: inline-block;
	padding: 10px 10px;
	font-size: 12px;
	color: #fff;
	border-radius: 25px;
	border: none;
}

/* 開発中 */
.dev {
	background-color: #000;
}

/* 会員登録しない個人鑑定ボタン */
.offer-appraisal {
	background-color: #0d7398;
}

.btn-block-mt {
	margin-top: 30px;
}

.link-mb {
	margin-bottom: 30px;
	display: block;
}

/* 入力画面へ戻るボタン */
.previous-btn {
	display: grid;
	place-items: center;
	width: 100%;
	max-width: 29.4rem;
	height: 4.6rem;
	padding: 0;
	overflow: hidden;
	position: relative;
	color: #7a7979 !important;
	cursor: pointer;
}

.previous-btn-center {
	margin-left: auto;
	margin-right: auto;
}

/* 完了画面に関係するCSS */
.Pageframe-main-complete__inner {
	width: 100%;
	height: 100%;
	padding-left: 14rem;
	padding-right: 14rem;
}

@media screen and (width >=1600px),
print {

	.Pageframe-main-complete__inner {
		padding-left: 21rem;
	}
}

@media screen and (max-width:1188px),
print {

	.Pageframe-main-complete__inner {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width:1128px),
print {

	.Pageframe-main-complete__inner {
		padding-left: 5rem;
		padding-right: 5rem;
	}

}

@media screen and (min-width:501px) and (max-width:900px) {
	.Pageframe-main-complete__inner {
		height: 100%;
		/* height: auto; */
		padding-left: 5rem;
		padding-right: 5rem;
		z-index: 5999;
		position: relative;
		min-height: calc(100% - 14rem);
	}

	.Pageframe-main-complete__inner::before {
		width: calc(100% - 2rem);
		height: 100%;
		left: 1rem;
		right: 1rem;
		bottom: 0;
		top: 0;
		z-index: -1;
		position: absolute;
		display: block;
		content: "";
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url(../../mypage/assets/images/common/sp_bg2.png);
		background-image: image-set(url(../../mypage/assets/images/common/sp_bg2.png) 1x, url(../../mypage/assets/images/common/sp_bg2@2x.png) 2x);
		background-image: -webkit-image-set(url(../../mypage/assets/images/common/sp_bg2.png) 1x, url(../../mypage/assets/images/common/sp_bg2@2x.png) 2x);
	}
}
@media screen and (max-width:500px) {
	.Pageframe-main-complete__inner {
		height: 100%;
		padding: 0;
		z-index: 5999;
		position: relative;
	}

	.Pageframe-main-complete__inner::before {
		width: calc(100% - 2rem);
		height: 100%;
		left: 1rem;
		right: 1rem;
		bottom: 0;
		top: 0;
		z-index: -1;
		position: absolute;
		display: block;
		content: "";
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url(../../mypage/assets/images/common/sp_bg2.png);
		background-image: image-set(url(../../mypage/assets/images/common/sp_bg2.png) 1x, url(../../mypage/assets/images/common/sp_bg2@2x.png) 2x);
		background-image: -webkit-image-set(url(../../mypage/assets/images/common/sp_bg2.png) 1x, url(../../mypage/assets/images/common/sp_bg2@2x.png) 2x);
	}
}

/* レビューボタン */
.Button--blue-review{
	margin: 0 auto 3rem;
}
.btn-review {
	position: relative;
}
.btn-review::before {
	width: 1.5rem;
	height: 1.4rem;
	left: 5.5rem;
	top: calc(50% - 0.5rem);
	position: absolute;
	background-image: url(../../mypage/assets/images/common/btn-review.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	content: "";
}

.C-appraisal-history__mt {
	margin-top: 30px;
	margin-bottom: 30px;
}

.C-appraisal-history__contact {
	text-decoration: underline;
	display: block;
	width: 160px;
}

/* テキストのインデント */
.C-form-block__checkbox__indent {
	display: block;
	padding-left: 20px;
	position: relative;
}

.C-form-block__checkbox__indent::before {
	position: absolute;
	content: "・";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 退会のデザイン */
.C-popup-content_delete {
	color: red !important;
}

.C-popup-content_delete-title {
	font-size: 24px;
	margin-top: 30px;
}

.C-popup-content_delete-text {
	font-size: 13px;
	margin-top: 30px;
}

.C-popup-content_btn-block {
	width: 360px;
	margin: 0 auto;
	max-width: 100%;
}
.Button--dark {
	background-color: #808080 !important;
}

.top-logo {
	text-align: center;
	margin-bottom: 30px;
}
.top-logo-image {
	max-width: 100%;
	width: 200px;
}
.top-register {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 30px;
	max-width: 100%;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
.C-form-line-block {
	margin-bottom:4rem;
}

.C-form-line-sub-block {
	position: relative;
	padding-left:35px;
}
.C-form-line-sub-block:nth-child(n + 1) {
	margin-top: 30px;
}
.C-form-line-sub-block::after {
	position: absolute;
	content: "";
	top: 8px;
	left: 7px;
	width: 20px;
	height: 20px;
	background: url(../../images/common/top-icon.png) no-repeat center;
	z-index: 1000;
	border-radius: 50%;
}

.C-form-line-sub-block a {
	color: #5b84ae;
	text-decoration: underline;
}

.C-form-line-sub-block p {
	position: relative;
}

.C-form-line-sub-block p::before {
	position: absolute;
	content: "・";
	width: 10px;
	height: 10px;
	top: 0;
	left: -15px;
	z-index: 1000;
}

.C-appraisal-banner img {
	overflow: hidden;
	transition: all 0.3s ease;
}
.C-appraisal-banner a:hover img{
	transform: scale(1.01);
}

.original-button {
	display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff !important;
  font-size: 16px;
  border-radius: 42px;
  width: 287px;
	padding-top: 20px;
  height: 84px;
  transition: 0.3s;
  background-image: radial-gradient(circle at 100% 0%, rgba(37, 175, 204, 1), rgba(64, 91, 153, 1) 80%);
	position: relative;
	cursor: pointer;
	max-width: 100%;
}
.original-button::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	width: 7px;
	height: 10px;
	background-image: url(../../images/common/arrow.svg);
	z-index: 100;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}
.original-button::after {
	position: absolute;
	content: "";
	top: 5px;
	transform: translateX(-50%);
	left: 50%;
	width: 150px;
	height: 30px;
	background-image: url(../../images/common/stellar-logo.svg);
	z-index: 100;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}


.original-button:hover {
  opacity: .5;
}

.sample-btn-block {
	width: 120px
}

.mCSB_scrollTools {
	right: -30px !important;
}

.C-appraisal-banner-block {
	border: #E7E8EB solid 1px;
	padding: 30px 40px;
	border-radius: 30px;
    margin-bottom: 40px;
}

.C-appraisal-banner__image {
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
}

.C-appraisal-banner__price {
	font-size: 40px;
	text-align: center;
}
.C-appraisal-banner__price-appraisal {
	color: #1E66C7 !important;
}

.C-appraisal-banner__price-family {
	color: #028FBF !important;
}

.C-appraisal-banner__price--mt {
	margin-top: 30px;
}

.C-appraisal-banner_sub-title {
	text-align: center;
	margin-top: 40px;
	font-size: 18px;
}

.C-appraisal-banner__price span {
	font-size: 18px;
}

.C-appraisal-banner__book-price {
	font-size: 22px;
	color: #39385D !important;
	margin-top: 10px;
	text-align: center;
}

.C-appraisal-banner__book-price span {
	font-size: 13px;
	color: #39385D !important;
}

.C-appraisal-banner__box {
	padding: 20px 10px 20px 20px;
	border: #C3D0E3 solid 1px;
	margin-top: 20px;
}

.C-form__message.C-appraisal-banner__book-text {
	margin-bottom: 10px;
}

.C-appraisal-banner__sub-box {
	padding: 30px;
	border-left: #C3D0E3 solid 1px;
	border-right: #C3D0E3 solid 1px;
	border-bottom: #C3D0E3 solid 1px;
}

.C-appraisal-banner__sub-box-image {
	width: 230px;
	max-width: 100%;
	margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.C-appraisal-banner__sub-box-image img {
    max-width: 100%;
    height: auto;
}

.C-appraisal-banner__sub-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.C-appraisal-banner__under-text {
	text-align: center;
	margin-top: 30px;
}
.C-appraisal-banner__under-btn {
	width: 287px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.C-appraisal-banner__under-btn .original-button {
	margin-top: 30px;
	text-align: center;
}
.C-appraisal-banner__under-btn .original-button a {
	color: #fff !important;
}

/*----- 上に戻るボタン */
.top-btn-sp {
	display: none;
	margin-bottom: 60px;
}
.C-top {
	transform: translate(1.75rem, 0);
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.C-top .top-span {
	line-height: 1;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.C-top .top-span::before {
	width: 3.5rem;
	height: 3.5rem;
	transform: rotate(-90deg);
	left: -3.5rem;
	top: calc(((3.5rem - 1em) / 2) * -1);
	position: absolute;
	background-image: url(../../mypage/assets/images/common/icon_circle-arrow-lightblue.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 99%;
	display: block;
	content: "";
}

.C-top span {
	padding-left: 1rem;
	line-height: 1;
	display: inline-block;
	color: #386280;
	font-size: 15px;
}

.C-form__contact-title.C-form__message {
	padding-left: 0;
}
.C-form__contact-title.C-form__message::before {
	background-image: none;
	padding-left: 0;
}
.small_link {
	text-decoration: underline;
	font-weight: bold;
}
@media screen and (max-width: 500px) {
	.C-appraisal-banner-block {
		padding: 20px;
		margin-bottom: 60px;
	}
	.C-appraisal-banner__sub-flex {
		display: block;
	}
	.C-appraisal-banner__book-price {
		font-size: 18px;
	}
	.C-appraisal-banner__price {
		font-size: 28px;
	}
	.C-form__message .C-appraisal-banner__book-text {
		font-size: 20px;
	}
    .C-appraisal-banner__sub-sample-image{
		margin-top: 15px;
	}
	.sample-btn-block{
		text-align: center;
		margin: 0 auto;
        width: 100px;
	}
	.C-appraisal-banner__sub-sample-text {
		text-align: center;
		margin-top: 15px;
	}
	.C-appraisal-banner__box {
		padding: 20px;
		border: #C3D0E3 solid 1px;
		margin-top: 20px;
	}
	.C-top {
		margin-bottom: 60px;
	}
}
