.predict-result {
    .explain-table {
        display: flex;
        justify-content: center;
        table {
            border: 1px solid #000;
            tr {
                border: 1px solid #000;
                td {
                    height: 20px;
                }
            }
        }
        .house-explain {
            margin: 0px 20px;
        }
        .aspect-explain {
            tr {
                .title-aspect {
                    border: 1px solid #000;
                }
            }
        }
    }
}