@charset "utf-8";

/*-------------------------------
	common.css
-------------------------------*/

.Pageframe-main-header__pagename::before{
	width: 2.5rem;
	height: 2.5rem;
	top: calc(50% - 1.25rem);
	background-image: url(../images/solar-return/icon_mark-pagename.svg);
}

.Pageframe-main .fcolor2{
    color: #F17424;
}
.Pageframe-main__title{
    max-width: 32.3rem;
    margin-bottom: 4.5rem;
}
.Pageframe-main__title.result{
    max-width: 50rem;
    margin-bottom: -2rem;
}
.Pageframe-main__firstmessage::after{
    background-image: url(../images/myhoroscope/icon_content-mark.svg);
}
.Pageframe-main__title::after{
    width: 9rem;
    height: 13rem;
    /* left: 40rem; */
    top: -2.5rem;
    background-image: url(../images/solar-return/icon_solar_hand.svg);
}
.result.Pageframe-main__title::after{
    width: 9rem;
    height: 13rem;
    right: -11rem;
    top: -2.5rem;
    background-image: none;
}
.banner{
    margin-top: 9rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
}

/*----- ユーザー */
.C-user-list-block__inner{
    padding: 2rem 2.5rem 1.5rem;
    border: none;
    background-color: #fff;
	background-image: url(../images/solar-return/bg_user.png);
    background-image: image-set(url(../images/solar-return/bg_user.png) 1x, url(../images/solar-return/bg_user@2x.png) 2x);
    background-image: -webkit-image-set(url(../images/solar-return/bg_user.png) 1x, url(../images/solar-return/bg_user@2x.png) 2x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.C-user-list-block__item:not(:last-child){
	border-right: 1px solid #F17424;
}
.C-user-list-block__title::before,
.C-user-list-block__item::before{
    color: #F17424;
}

/*----- 個人鑑定 */
.C-appraisal-tab__item{
    background-color: rgba(57,57,92,.1);
}
.C-appraisal-tab__item--current{
	background-image: url(../images/solar-return/bg_appraisal-tab.png);
    background-image: image-set(url(../images/solar-return/bg_appraisal-tab.png) 1x, url(../images/solar-return/bg_appraisal-tab@2x.png) 2x);
    background-image: -webkit-image-set(url(../images/solar-return/bg_appraisal-tab.png) 1x, url(../images/solar-return/bg_appraisal-tab@2x.png) 2x);
}
.C-appraisal-content-header-data{
    border-top: 1px solid #F17424;
    border-bottom: 1px solid #F17424;
}
.C-appraisal-content-header-data > *:not(:last-child){
	border-right: 1px solid #F17424;
}

.C-appraisal-content-header__first-message{
    border-bottom: 1px solid #F17424;
}

.C-appraisal-content-header-block__title::before{
    background-image: url(../images/solar-return/icon_star.svg);
}
.C-appraisal-content-footer-block__last__mark{
	border: 1px solid #F17424;
}
.C-appraisal-content-footer-block__last__text{
    color: #F17424;
}

.C-appraisal-content-header-message{
    background: rgba(52,94,151,.04);
}
.C-appraisal-content-header-message__title,
.C-appraisal-content--acmc-block__title{
    color: #F17424;
}

.C-solar-form__form {
	font-size: 2rem;
	margin-bottom:2rem;
	padding-left: 2rem;
	line-height: 1;
	position: relative;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/solar-return/icon_sun.svg);
}

/*----- セレクト */
.C-form-block__select01{
    width: 50%;
    height: 4.8rem;
    font-size: 1.4rem;
    border: 1px solid rgba(204,206,213,.35);
    border-radius: 1.6rem;
    background: rgba(255,255,255,.2);
    transition: .3s all ease-in-out;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}
.C-form-block__select01-w{
    width: 100%;
}
.C-form-block__select01::after{
    width: 0;
    height: 0;
    border-style: solid;
    right: 1rem;
    top: calc(50% - .3rem);
    position: absolute;
    border-width: .6rem .4rem 0 .4rem;
    border-color: #39395c transparent transparent transparent;
    display: block;
    content: "";
}
.C-form-block__select01 select{
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    color: rgba(57,56,93,.7);
    cursor: pointer;
}
.C-form-block__select01 select:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 1.6rem;
}
.C-form-block__select01 select:focus {
    outline: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

  /*----- セレクト */
.C-form-block__arrow01{
    display: flex;
    width: 100%;
    height: 4.8rem;
    font-size: 1.4rem;
    border: 1px solid rgba(204,206,213,.35);
    border-radius: .6rem;
    background: rgba(255,255,255,.2);
    transition: .3s all ease-in-out;
    position: relative;
    background-color: #C9C9C9;
    cursor: pointer;
}
.C-form-block__arrow01::after {
    width: 0;
    height: 0;
    border-style: solid;
    right: 1rem;
    top: calc(50% - .3rem);
    position: absolute;
    border-width: .4rem 0 .4rem .6rem;
    border-color: transparent transparent transparent #39395c;
    display: block;
    content: "";
}
.C-form-block__arrow01 span{
    /* width: 100%;
    height: 100%; */
    padding: .5rem 2rem;
    color: rgba(57,56,93,.7);
    cursor: pointer;
    margin: 4px 0 4px 0;
}

/*----- セレクト */
.C-form-block__button{
    width: 100%;
    height: 4.8rem;
    font-size: 1.4rem;
    border: 1px solid rgba(204,206,213,.35);
    border-radius: 1.6rem;
    background: rgba(255,255,255,.2);
    transition: .3s all ease-in-out;
    position: relative;
    cursor: pointer;
    color: rgba(57,56,93,.7);
}
.active_Solar{
    border: 1px solid #F17424 !important;
    color: #F17424 !important;
    border-radius: 1.6rem !important;
}
.active_MyHoro{
    border: 1px solid #39385d;
    color: #39385d;
}
  .div_left{
    width: 70%;
    float: left;
    text-align: center;
  }

  .div_right{
    width: 30%;
    float: left;
    text-align: center;
    padding: 0 7px 0 0;
  }

.C-top {
	transform: translate(1.75rem, 0);
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.C-top .top-span {
	line-height: 1;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.C-top .top-span::before {
	width: 3.5rem;
	height: 3.5rem;
	transform: rotate(0deg);
	left: -3.5rem;
	top: calc(((3.5rem - 1em) / 2) * -1);
	position: absolute;
	background-image: url(../../../mypage/assets/images/solar-return/icon_circle-arrow-lightorange.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 99%;
	display: block;
	content: "";
}

.C-top span {
	padding-left: 1rem;
	line-height: 1;
	display: inline-block;
	color: #F17424;
	font-size: 15px;
}

/*----- セレクト */
.C-form-block__button2{
    width: 100%;
    height: 4.8rem;
    font-size: 1.4rem;
    border: 1px solid rgba(204,206,213,.35);
    border-radius: 1.6rem;
    background: rgba(255,255,255,.2);
    transition: .3s all ease-in-out;
    position: relative;
    cursor: pointer;
}
.C-form-block__button2 button{
    /* width: 100%; */
    height: 100%;
    padding: 1rem 2rem;
    color: rgba(57,56,93,.7);
    cursor: pointer;
    border: 2px solid #6186B3;
    color:#6186B3;
    border-radius: 1.6rem;
    font-size: 1.4rem !important;
    white-space: nowrap;
}

.logo-banner {
    right: 30px;
}

/* 惑星マーク */
.C-appraisal-content--MOON .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--MOON .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_tsuki.svg);
}

.C-appraisal-content--MERCURY .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--MERCURY .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_suisei.svg);
}

.C-appraisal-content--VENUS .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--VENUS .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_kinsei.svg);
}

.C-appraisal-content--SUN .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--SUN .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_taiyo.svg);
}

.C-appraisal-content--MARS .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--MARS .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_kasei.svg);
}

.C-appraisal-content--JUPITER .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--JUPITER .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_mokusei.svg);
}

.C-appraisal-content--SATURN .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--SATURN .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_dosei.svg);
}

.C-appraisal-content--tennousei .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--tennousei .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_tennousei.svg);
}

.C-appraisal-content--kaiousei .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--kaiousei .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_kaiousei.svg);
}

.C-appraisal-content--meiousei .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--meiousei .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_meiousei.svg);
}

.C-appraisal-content--CHIRON .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--CHIRON .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_dragonhead.svg);
}

.C-appraisal-content--kiron .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--kiron .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_kiron.svg);
}

.C-appraisal-content--ririsu .C-appraisal-content-header-data__mark::before,
.C-appraisal-content--ririsu .C-appraisal-content-footer-block__last__mark::before {
    background-image: url(../images/solar-return/icon_ririsu.svg);
}

/* 星座マーク */
.C-appraisal-content-header-block__title--Cancer::before,
.C-appraisal-content-footer-block__last__mark--Cancer::after {
    background-image: url(../images/solar-return/icon_kani.svg);
}

.C-appraisal-content-header-block__title--Capricorn::before,
.C-appraisal-content-footer-block__last__mark--Capricorn::after {
    background-image: url(../images/solar-return/icon_yagi.svg);
}

.C-appraisal-content-header-block__title--Pisces::before,
.C-appraisal-content-footer-block__last__mark--Pisces::after {
    background-image: url(../images/solar-return/icon_uo.svg);
}

.C-appraisal-content-header-block__title--Libra::before,
.C-appraisal-content-footer-block__last__mark--Libra::after {
    background-image: url(../images/solar-return/icon_tenbin.svg);
}

.C-appraisal-content-header-block__title--Leo::before,
.C-appraisal-content-footer-block__last__mark--Leo::after {
    background-image: url(../images/solar-return/icon_shishi.svg);
}

.C-appraisal-content-header-block__title--Scorpio::before,
.C-appraisal-content-footer-block__last__mark--Scorpio::after {
    background-image: url(../images/solar-return/icon_sasori.svg);
}

.C-appraisal-content-header-block__title--Taurus::before,
.C-appraisal-content-footer-block__last__mark--Taurus::after {
    background-image: url(../images/solar-return/icon_oushi.svg);
}

.C-appraisal-content-header-block__title--Virgo::before,
.C-appraisal-content-footer-block__last__mark--Virgo::after {
    background-image: url(../images/solar-return/icon_otome.svg);
}

.C-appraisal-content-header-block__title--Aries::before,
.C-appraisal-content-footer-block__last__mark--Aries::after {
    background-image: url(../images/solar-return/icon_ohitsuji.svg);
}

.C-appraisal-content-header-block__title--Aquarius::before,
.C-appraisal-content-footer-block__last__mark--Aquarius::after {
    background-image: url(../images/solar-return/icon_mizugame.svg);
}

.C-appraisal-content-header-block__title--Sagittarius::before,
.C-appraisal-content-footer-block__last__mark--Sagittarius::after {
    background-image: url(../images/solar-return/icon_ite.svg);
}

.C-appraisal-content-header-block__title--Gemini::before,
.C-appraisal-content-footer-block__last__mark--Gemini::after {
    background-image: url(../images/solar-return/icon_hutago.svg);
}

/*----- 個人鑑定履歴 */
.C-appraisal-history__title::before{
    background-image: url(../images/solar-return/icon_history.svg);
}
.C-appraisal-history-block a::after{
    background-image: url(../images/common/icon_arrow-blue.svg);
}

/*----- 個人鑑定商品 */
.C-appraisal-item-entry{
	background-image: url(../images/solar-return/bg_appraisal-item-mark.svg);
}
.C-appraisal-item-entry__price::before{
    color: rgba(57,56,93,.5);
}

@media screen and (width >= 1600px) , print{

}
@media screen and (max-width:1188px) , print{

}
@media screen and (max-width:1093px) , print{

}
@media screen and (max-width:897px) , print{

}
@media screen and (min-width: 500px) and (max-width: 750px), print {
    .C-user-list-block__item:nth-of-type(4), .C-user-list-block__item:last-child {
        width: 50%;
        padding-top: 0.5rem;
        padding-left: 10px;
    }
    .Myhoroscope--detail .C-user-list-block__item:nth-of-type(2) {
        padding-top: 5px !important;
        width: 50%;
        padding-left: 2.2rem;
        border-right: none;
    }
}
@media screen and (max-width:730px) , print{
    /*----- セレクト */
    .C-form-block__button2 button{
        white-space: nowrap;
        font-size: 1.4rem !important;
    }
}
@media screen and (max-width:500px) , print{

    .Pageframe-main__title{
        max-width: 27rem;
    }
    .Pageframe-main__title::after{
        width: 8.6rem;
        height: 10.6rem;
        margin: 1rem 4rem 0 0;
    }

    .Pageframe-main__title.result {
        max-width: 25rem;
        margin-bottom: -2rem;
    }

    /*----- ユーザー */
    .C-user-list-block__inner{
        padding: 1.5rem 3rem;
        margin-top: 1rem;
    }

	/*----- 個人鑑定詳細 */
    .C-appraisal-content-header-data__year{
        border-top: 1px solid #F17424;
    }

    .C-appraisal-content-header__first-message{
        border-bottom: none;
    }

    /*----- 個人鑑定商品 */
    .C-appraisal-item-entry{
        background-image: url(../images/solar-return/sp_bg_appraisal-item-mark.svg);
    }

    .C-form-block__button2 button{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .Myhoroscope--detail .C-user-list-block__item:nth-of-type(2) {
        width: 50%;
        padding-left: 2.2rem;
        border-right: none;
        padding-top: 0rem;
    }

}



/*-------------------------------
	個人鑑定（solar-return-detail）
-------------------------------*/

@media screen and (width >= 1600px) , print{

}
@media screen and (max-width:1188px) , print{

}
@media screen and (max-width:1128px) , print{

}
@media screen and (max-width:900px) , print{
    .C-form-block__select01{
        width: 100%;
    }
}
@media screen and (max-width:730) , print{

}
@media screen and (max-width:500px) , print{

    .solar-return--detail .C-user-list-block__item:nth-of-type(1){
        width: 50%;
    }
    .solar-return--detail .C-user-list-block__item:nth-of-type(2){
        width: 50%;
		padding-left: 2.2rem;
        border-right: none;
    }
    .solar-return--detail .C-user-list-block__item:nth-of-type(3){
        border-top: 1px solid #F17424;
    }
      /*----- セレクト */
    .C-form-block__arrow01{
        width: 100%;
        height: 4.8rem;
        font-size: 1.4rem;
        border: 1px solid rgba(204,206,213,.35);
        border-radius: .6rem;
        background: rgba(255,255,255,.2);
        transition: .3s all ease-in-out;
        position: relative;
        cursor: pointer;
    }
    .C-form-block__arrow01::after {
        width: 0;
        height: 0;
        border-style: solid;
        right: 1rem;
        top: calc(50% - .3rem);
        position: absolute;
        border-width: .4rem 0 .4rem .6rem;
        border-color: transparent transparent transparent #39395c;
        display: block;
        content: "";
    }
    .C-form-block__arrow01 span{
        /* width: 100%;
        height: 100%; */
        padding: .5rem 2rem;
        color: rgba(57,56,93,.7);
        cursor: pointer;
        margin: 4px 0 4px 0;
    }

    /*----- セレクト */
    .C-form-block__button button{
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        color: rgba(57,56,93,.7);
        cursor: pointer;
        font-size: 1.1rem !important;
    }

    /*----- セレクト */
    .C-form-block__select01{
        width: 100%;
        height: 4.8rem;
        font-size: 1.4rem;
        border: 1px solid rgba(204,206,213,.35);
        border-radius: 1.6rem;
        background: rgba(255,255,255,.2);
        transition: .3s all ease-in-out;
        position: relative;
        cursor: pointer;
    }
    .C-form-block__select01::after{
        width: 0;
        height: 0;
        border-style: solid;
        right: 1rem;
        top: calc(50% - .3rem);
        position: absolute;
        border-width: .6rem .4rem 0 .4rem;
        border-color: #39395c transparent transparent transparent;
        display: block;
        content: "";
    }
    .C-form-block__select01 select{
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        color: rgba(57,56,93,.7);
        cursor: pointer;
    }
    .C-top {
		margin-bottom: 60px;
	}

    .logo-banner {
       right: 15px;
        width: 100%;
    }
    .Pageframe-main__title img {
        width: 20rem;
    }

    .banner{
        margin-top: 7rem;
        margin-bottom: 5rem;
        margin-left: 2rem;
    }

}
